{% extends 'base/base_client.html' %} {% block title %} Boleias {% endblock title %} {%
    block container_title %} BOLEIAS {% endblock container_title %} {% block filters
    %}
    <form action="{{ url_for('rides.list_rides') }}" method="get">
      <div class="card mb-3">
        <div class="card-body">
          <div
            class="d-flex flex-row flex-wrap gap-4 justify-content-center align-items-end justify-content-sm-start"
          >
            <div class="flex-fill">
              <label class="form-label secondary-secondary-text-color">Nome</label>
              <input
                type="text"
                value="{{ request.args.get('name') or ''}}"
                name="name"
                class="form-control"
              />
            </div>
            <div class="flex-fill">
              <label class="form-label secondary-secondary-text-color"
                >Origem/Destino</label
              >
              <input
                type="text"
                value="{{ request.args.get('origin') or ''}}"
                name="origin"
                class="form-control"
              />
            </div>
            <div class="flex-fill">
              <label class="form-label secondary-secondary-text-color">Data</label>
              <input
                type="date"
                value="{{ request.args.get('date') or ''}}"
                name="date"
                class="form-control"
              />
            </div>
            <div class="flex-fill">
              <label class="form-label secondary-secondary-text-color"
                >Estado</label
              >
              <select name="status" class="form-select">
                <option id="1" value="1">Activa</option>
                <option id="2" value="2">A Decorrer</option>
                <option id="3" value="3">Finalizada</option>
                <option id="4" value="4">Cancelada</option>
              </select>
            </div>
            <div class="flex-fill justify-content-center">
              <button class="btn btn-primary flex-fill w-100" type="submit">
                FILTRAR
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endblock filters %} {%block content %}
    <div class="row justify-content-evenly">
      {% for item in request_list['items'] %}
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card shadow">
          <div class="card-body">
            <a class="stretched-link" href="{{item.id}}"></a>
            <div
              class="row align-items-end justify-content-start justify-content-md-center"
            >
              <div class="col-12 col-sm-8 col-md-12 col-lg-12 col-xl-8">
                <div class="row align-items-center mb-2">
                  <div class="col-12">
                    <div
                      class="d-flex w-100 align-items-center justify-content-start"
                    >
                      <div class="initial-avatar text-end">{{item.driver_initials}}</div>
                      <span class="ms-3 fw-bold font-16px"
                        >{{item.driver_name}}</span
                      >
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-2">
                  <div class="col">
                    <span class="fw-bold font-14px me-1">{{item.starting_location}}</span>
                    <i
                      class="fa-solid fa-arrow-right icon-color me-1"
                    ></i>
                    <span class="fw-bold font-14px">{{item.end_location or ''}}</span>
                  </div>
                </div>
                <div class="row align-items-center mb-2">
                  <div class="col">
                    {% if 'Active' == item.status %}
                    <span class="badge rounded-pill bg-primary font-14px ps-2 pe-2"
                      >{{item.status}}</span
                    >
                    {% elif 'On Going' == item.status %}
                    <span class="badge rounded-pill bg-warning font-14px ps-2 pe-2"
                      >{{item.status}}</span
                    >
                    {% elif 'Finished' == item.status %}
                    <span class="badge rounded-pill bg-info font-14px ps-2 pe-2"
                      >{{item.status}}</span
                    >
                    {% elif 'Canceled' == item.status %}
                    <span class="badge rounded-pill bg-danger font-14px ps-2 pe-2"
                      >{{item.status}}</span
                    >
                    {% endif %}
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col">
                    <span class="font-16px fw-bold text-color"
                      >{{item.starting_date}}</span
                    >
                  </div>
                </div>
                <div class="row align-items-center mb-2">
                  <div class="col">
                    <span class="font-16px fw-bold text-color"
                      >{{item.starting_hour}}</span
                    >
                  </div>
                </div>
                <div
                  class="row align-items-center justify-content-evenly"
                >
                  <div class="col">
                    <i class="fa-solid fa-user-group me-2"></i>
                    <span class="fw-bold font-14px text-color me-5"
                      >{{item.total_places}}</span
                    >
                    <span class="font-14px text-color"
                      >{{item.total_available_places}} LUGARES DISPONIVEIS</span
                    >
                  </div>
                </div>
              </div>
              <div
                class="col-12 col-sm-4 col-md-12 col-lg-12 col-xl-4 mt-2 d-flex"
              >
                <button style="position: relative;" class="btn btn-primary w-100" type="submit">
                  <span class="fw-bold"><a class="stretched-link" href="{{url_for('rides.get_ride', id=item.id)}}"></a>JUNTAR-ME</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div
      class="d-flex align-items-center justify-content-center justify-content-md-end"
    >
      <ul class="pagination">
        <li class="page-item {% if request_list.page == 1 %}disabled{% endif %}">
          <a
            class="page-link"
            href="{{ url_for('rides.list_rides', page=request_list.prev_num) }}"
            tabindex="-1"
            >Anterior</a
          >
        </li>
        {% for page_num in request_list.iter_pages(left_edge=1, right_edge=1,
        left_current=1, right_current=2) %} {% if page_num %} {% if
        request_list.page == page_num %}
        <li class="page-item">
          <a
            href="{{ url_for('rides.list_rides', page=page_num) }}"
            class="page-link"
          >
            {{ page_num }}
          </a>
        </li>
        {% else %}
        <li class="page-item">
          <a
            href="{{ url_for('rides.list_rides', page=page_num) }}"
            class="page-link"
          >
            {{ page_num }}
          </a>
        </li>
        {% endif %} {% else %} ... {% endif %} {% endfor %}
        <li
          class="page-item {% if request_list.page == request_list.pages %}disabled{% endif %}"
        >
          <a
            class="page-link"
            href="{{ url_for('rides.list_rides', page=request_list.next_num) }}"
            tabindex="-1"
            >Seguinte</a
          >
        </li>
      </ul>
    </div>
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const product = urlParams.get("status");
      const select = document.getElementById(product);
      select.setAttribute("selected", "");
    </script>
    {% endblock content %}
    