{% extends 'base/base_client.html' %} {% block title %} Boleias {% endblock
title %} {% block container_title %} BOLEIAS {% endblock container_title %} {%
block filters %} {% endblock filters %} {% block content %}
<div class="container-fluid p-0">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-8">
      <div class="card shadow">
        <div class="card-body">
          <div class="row justify-content-center align-items-center">
            <div class="col-12">
              <h2 class="text-center text-color fw-bold">DETALHE DA BOLEIA</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <label class="form-label fw-bold">De</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  value="{{ride.starting_location}}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <label class="form-label fw-bold">Para</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  value="{{ride.end_location}}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12">
              <label class="form-label fw-bold">Data/Hora</label>
              <div class="input-group mb-3">
                <input
                  value="{{ride.starting_date}}"
                  type="datetime-local"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <label class="form-label fw-bold">Modelo</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  value="{{ride.model}}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <label class="form-label fw-bold">Marca</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  value="{{ride.brand}}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <label class="form-label fw-bold">VIN</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  value="{{ride.vin}}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <label class="form-label fw-bold">Cor</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  value="{{ride.color}}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <label class="form-label fw-bold">Lugares</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  value="{{ride.total_places}}"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="col-12 col-sm-12">
              <label class="form-label fw-bold">Passageiros</label>
              <div class="d-flex align-items-center">
                {% if ride.passengers.__len__() == 0 %}
                <span class="fw-bold">DE MOMENTO NÃO TEMOS PASSAGEIROS!</span>
                {% elif ride.passengers.__len__() != 0 %}
                <div class="row ps-3">
                  {% for passenger in ride.passengers %}
                  <div
                    style="cursor: pointer"
                    data-bs-toggle="modal"
                    data-bs-target="#userDetail{{passenger.id}}"
                    class="col p-0 me-2"
                  >
                    <span class="initial-avatar-rounded text-end"
                      >{{passenger.initials}}</span
                    >
                  </div>
                  <div
                    class="modal fade"
                    id="userDetail{{passenger.id}}"
                    tabindex="-1"
                    aria-labelledby="userDetail{{passenger.id}}"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header m-2">
                          <h5 class="modal-title" id="createBrandModal">
                            DETALHE DO UTILIZADOR
                          </h5>
                        </div>
                        <div class="modal-body">
                          <div class="row justify-content-center">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                      <label class="form-label fw-bold"
                                        >Primeiro nome</label
                                      >
                                      <div class="input-group mb-3">
                                        <input
                                          type="text"
                                          class="form-control"
                                          value="{{passenger.first_name}}"
                                          disabled
                                        />
                                      </div>
                                    </div>
                                    <div class="col-12 col-sm-6 mb-3">
                                      <label class="form-label fw-bold"
                                        >Último nome</label
                                      >
                                      <div class="input-group mb-3">
                                        <input
                                          type="text"
                                          class="form-control"
                                          value="{{passenger.last_name}}"
                                          disabled
                                        />
                                      </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                      <label class="form-label fw-bold"
                                        >Username</label
                                      >
                                      <div class="input-group mb-3">
                                        <input
                                          type="text"
                                          class="form-control"
                                          value="{{passenger.username}}"
                                          disabled
                                        />
                                      </div>
                                    </div>
                                    <div class="col-12 col-sm-6 mb-3">
                                      <label class="form-label fw-bold"
                                        >Telefone</label
                                      >
                                      <div class="input-group mb-3">
                                        <input
                                          type="text"
                                          class="form-control"
                                          value="{{passenger.phone_number}}"
                                          disabled
                                        />
                                      </div>
                                    </div>
                                    <div class="col-12 col-sm-6 mb-3">
                                      <label class="form-label fw-bold"
                                        >Email</label
                                      >
                                      <div class="input-group mb-3">
                                        <input
                                          type="text"
                                          class="form-control"
                                          value="{{passenger.email}}"
                                          disabled
                                        />
                                      </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                      <label class="form-label fw-bold"
                                        >Número de aluno</label
                                      >
                                      <div class="input-group mb-3">
                                        <input
                                          type="text"
                                          class="form-control"
                                          value="{{passenger.student_number}}"
                                          disabled
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="d-flex flex-column flex-sm-row gap-2">
                              <div class="col-12">
                                <button
                                  type="button"
                                  class="btn btn-secondary w-100"
                                  data-bs-dismiss="modal"
                                >
                                  <span class="fw-bold">Voltar</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-sm-5 col-md-4 mt-2">
        <form action="list" method="GET">
          <button
            type="submit"
            class="btn {% if ride.is_joinable == 'False' %}btn-primary{% endif %} {% if ride.is_joinable == 'True' %}btn-secondary{% endif %} w-100"
          >
            <span class="fw-bold">VOLTAR</span>
          </button>
        </form>
      </div>
      <div class="col-12 col-sm-5 col-md-4 mt-2">
        <button
          class="btn btn-primary w-100 {% if ride.is_joinable == 'False' %}disabled{% endif %}"
          data-bs-toggle="modal"
          data-bs-target="#joinride{{ride.id}}"
        >
          <span class="fw-bold">JUNTAR-ME</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="joinride{{ride.id}}"
  tabindex="-1"
  aria-labelledby="joinride{{ride.id}}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header m-2">
        <h5 class="modal-title" id="createBrandModal">JUNTAR Á BOLEIA</h5>
      </div>
      <div class="modal-body">
        <form
          action="{{ url_for('rides.join_ride', id=ride.id) }}"
          method="POST"
        >
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="fw-bold text-center">
                    TENS MESMO A CERTEZA QUE QUERES TE JUNTAR A BOLEIA?
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="d-flex flex-column flex-sm-row gap-2">
              <div class="col-12 col-sm-6">
                <button
                  type="button"
                  class="btn btn-secondary w-100"
                  data-bs-dismiss="modal"
                >
                  <span class="fw-bold">NÃO</span>
                </button>
              </div>
              <div class="col-12 col-sm-6">
                <button type="submit" class="btn btn-primary w-100">
                  <span class="fw-bold">SIM</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
