{% extends 'base/base.html' %} {% block title %} Modelos {% endblock title %} {%
block container_title %} MODELOS {% endblock container_title %} {% block filters
%}
<div class="card mb-3">
  <div class="card-body">
    <div
      class="d-flex flex-row flex-wrap gap-4 justify-content-center justify-content-sm-start"
    >
      <div class="flex-fill">
        <label class="form-label secondary-secondary-text-color">Marca</label>
        <input type="text" class="form-control" />
      </div>
      <div class="flex-fill">
        <label class="form-label secondary-secondary-text-color">Modelo</label>
        <input type="text" class="form-control" />
      </div>
    </div>
  </div>
</div>
{% endblock filters %} {%block content %}
<div class="row justify-content-evenly">
  {% for item in request_list["items"] %}
  <div class="col-12 col-md-6 col-lg-6">
    <div class="card shadow">
      <div class="card-body">
        <div class="row h-100">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="col-12 d-flex flex-column mb-2">
              <h4 class="mb-0">Marca</h4>
              <h3 class="fw-bold mb-0">{{item.brand.name}}</h3>
            </div>

            <div class="col-12 d-flex flex-column mb-2">
              <h4 class="mb-0">Modelo</h4>
              <h3 class="fw-bold mb-0">{{item.name}}</h3>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-8">
            <div class="d-flex flex-column h-100 justify-content-end">
              <div class="row align-items-end">
                <div class="col-6 col-sm-6">
                  <button class="btn btn-primary w-100 fw-bold">EDITAR</button>
                </div>
                <div class="col-6 col-sm-6">
                  <button class="btn btn-danger w-100 fw-bold">APAGAR</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div
  class="d-flex align-items-center justify-content-center justify-content-md-end"
>
  <ul class="pagination">
    <li class="page-item {% if request_list.page == 1 %}disabled{% endif %}">
      <a
        class="page-link"
        href="{{ url_for('admin.list_models', page=request_list.prev_num) }}"
        tabindex="-1"
        >Anterior</a
      >
    </li>
    {% for page_num in request_list.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=2) %} {% if page_num %} {% if
    request_list.page == page_num %}
    <li class="page-item">
      <a
        href="{{ url_for('admin.list_models', page=page_num) }}"
        class="page-link"
      >
        {{ page_num }}
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a
        href="{{ url_for('admin.list_models', page=page_num) }}"
        class="page-link"
      >
        {{ page_num }}
      </a>
    </li>
    {% endif %} {% else %} ... {% endif %} {% endfor %}
    <li
      class="page-item {% if request_list.page == request_list.pages %}disabled{% endif %}"
    >
      <a
        class="page-link"
        href="{{ url_for('admin.list_models', page=request_list.next_num) }}"
        tabindex="-1"
        >Seguinte</a
      >
    </li>
  </ul>
</div>
{% endblock content %}
