{% extends 'base/base.html' %} {% block title %} Marcas {% endblock title %} {%
block container_title %} MARCAS {% endblock container_title %} {% block filters
%}
<div class="card shadow-none">
  <div class="card-body">
    <div class="row align-items-center justify-content-center">
      <div class="col-12">
        <h3 class="text-secondary mb-0 text-center">
          De momento não temos dados disponiveis!
        </h3>
      </div>
    </div>
  </div>
</div>

{% endblock filters %} {%block content %} {% endblock content %}
