{% extends 'base/base_client.html' %} {% block title %} Veiculos {% endblock
title %} {% block container_title %} VEÍCULOS {% endblock container_title %} {%
block filters %}
<form action="{{ url_for('vehicles.vehicles_list') }}" method="get">
  <div class="card mb-3">
    <div class="card-body">
      <div
        class="d-flex flex-row flex-wrap gap-4 justify-content-center align-items-end justify-content-sm-start"
      >
        <div class="flex-fill">
          <label class="form-label text-color">Marca</label>
          <input
            type="text"
            value="{{ request.args.get('brand') or ''}}"
            name="brand"
            class="form-control"
          />
        </div>
        <div class="flex-fill">
          <label class="form-label text-color">Modelo</label>
          <input
            type="text"
            value="{{ request.args.get('modelo') or ''}}"
            name="model"
            class="form-control"
          />
        </div>
        <div class="flex-fill">
          <label class="form-label text-color">VIN</label>
          <input
            type="text"
            value="{{ request.args.get('vin') or ''}}"
            name="vin"
            class="form-control"
          />
        </div>
        <div class="flex-fill justify-content-center">
          <button class="btn btn-primary flex-fill w-100" type="submit">
            FILTRAR
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock filters %} {%block content %}
<div class="row">
  {% for item in vehicles['items'] %}
  <div class="col-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card shadow">
      <div class="card-body">
        <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <div class="row p-3">
              <div class="col-12 col-sm-4 col-md-12 p-1">
                <span class="fw-bold text-color">{{item.brand}}</span>
              </div>
              <div class="col-12 col-sm-12 p-1">
                <span class="fw-bold text-color">{{item.model}}</span>
              </div>
              <div class="col-12 col-sm-12 p-1">
                <span class="fw-bold text-color">{{item.color}}</span>
              </div>
              <div class="col-12 col-sm-12 p-1">
                <span class="fw-bold text-color">{{item.license_plate}}</span>
              </div>
              <div class="col-12 col-sm-6 p-1">
                <form
                  action="{{ url_for('vehicles.delete_vehicle', id=item.id) }}"
                  method="post"
                >
                  <button type="submit" class="btn  btn-secondary w-100">
                    <span class="fw-bold">APAGAR</span>
                  </button>
                </form>
              </div>
              <div class="col-12 col-sm-6 p-1">
                <button
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#edit{{item.id}}"
                  class="btn btn-primary w-100"
                >
                  <span class="fw-bold">EDITAR</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="edit{{item.id}}"
    tabindex="-1"
    aria-labelledby="edit{{item.id}}"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header m-2">
          <h5 class="modal-title" id="createBrandModal">EDITAR VEICULO</h5>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('vehicles.edit_vehicle', id=item.id) }}" method="POST">
            <div class="row justify-content-center">
              <div class="col-12 col-md-12 col-lg-10">
                <div class="card shadow">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <label class="form-label fw-bold">Modelo</label>
                        <div class="input-group mb-3">
                          <select name="model" class="form-select">
                            {% for model in models %}
                            <option {% if item.id == model.id %} selected="selected" {% endif %} value="{{model.id}}">{{model.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label fw-bold">Cor</label>
                        <div class="input-group mb-3">
                          <input
                            type="text"
                            value="{{item.color}}"
                            class="form-control"
                            name="color"
                            maxlength="10"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-md-12">
                        <label class="form-label fw-bold">VIN</label>
                        <div class="input-group mb-3">
                          <input
                            type="text"
                            value="{{item.license_plate}}"
                            class="form-control"
                            name="vin"
                            maxlength="10"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-md-12">
                        <label class="form-label fw-bold">Lugares</label>
                        <div class="input-group mb-3">
                          <input
                            type="number"
                            value="{{item.seats}}"
                            class="form-control"
                            name="places"
                            max="20"
                            min="2"
                            maxlength="1"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="d-flex flex-column flex-sm-row gap-2">
                <div class="col-12 col-sm-6">
                  <button
                    type="button"
                    class="btn btn-secondary w-100"
                    data-bs-dismiss="modal"
                  >
                    <span class="fw-bold">Cancelar</span>
                  </button>
                </div>
                <div class="col-12 col-sm-6">
                  <button type="submit" class="btn btn-primary w-100">
                    <span class="fw-bold"> Guardar Alterações</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div
  class="d-flex align-items-center justify-content-center justify-content-md-end"
>
  <ul class="pagination">
    <li class="page-item {% if vehicles.page == 1 %}disabled{% endif %}">
      <a
        class="page-link"
        href="{{ url_for('vehicles.vehicles_list', page=vehicles.prev_num) }}"
        tabindex="-1"
        >Anterior</a
      >
    </li>
    {% for page_num in vehicles.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=2) %} {% if page_num %} {% if vehicles.page ==
    page_num %}
    <li class="page-item">
      <a
        href="{{ url_for('vehicles.vehicles_list', page=page_num) }}"
        class="page-link"
      >
        {{ page_num }}
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a
        href="{{ url_for('vehicles.vehicles_list', page=page_num) }}"
        class="page-link"
      >
        {{ page_num }}
      </a>
    </li>
    {% endif %} {% else %} ... {% endif %} {% endfor %}
    <li
      class="page-item {% if vehicles.page == vehicles.pages %}disabled{% endif %}"
    >
      <a
        class="page-link"
        href="{{ url_for('vehicles.vehicles_list', page=vehicles.next_num) }}"
        tabindex="-1"
        >Seguinte</a
      >
    </li>
  </ul>
</div>
{% endblock content %}